/nbproject/private/
/dist/
/build/
build.xml
README.md
/web/Banque/target/
.idea/*
target/*
/src/nbproject/private/
/AppClient/ClientLeR/nbproject/private/
/AppClient/ClientLeR/build/
src/main/resources/hibernate.cfg.xml
Banque.iml
